apiVersion: 1

deleteDatasources:
  - name: ClickHouse
    orgId: 1

datasources:
  - name: ClickHouse
    uid: clickhouse_raw
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true
    editable: true
    jsonData:
      host: clickhouse
      port: 8123
      protocol: http
      username: default
      defaultDatabase: probablyfresh_raw
